# Ignore .env files (sensitive information)
.env
.env.*
!.env.example

# Ignore Git files
.git
.gitignore

# Ignore development/build files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
*.md
!README.md

# Ignore sensitive data
*.pem
*.key
*.crt
