# Proxy settings (if needed)
# HTTP_PROXY=https://localhost:7890
# HTTPS_PROXY=https://localhost:7890

# ===========================
# ====== Cloud Providers ==== 
# ===========================

# Azure AI configuration - will be configured via setup.sh
AZURE_API_VERSION=2024-05-01-preview
AZURE_MODEL_LIST=gpt-4o,gpt-4o-mini,deepSeek-v3,grok-3

# AWS Bedrock configuration - will be configured via setup.sh
AWS_REGION=us-west-2
AWS_MODEL_LIST=us.anthropic.claude-3-7-sonnet-20250219-v1:0

# ===========================
# ====== Preset config ====== 
# ===========================
# if no special requirements, no need to change
LOBE_PORT=3210
CASDOOR_PORT=8000
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
POSTGRES_PORT=5432
LOGTO_API_PORT=3001
LOGTO_ADMIN_PORT=3002
APP_URL=https://s2dchat.io.vn
AUTH_URL=https://s2dchat.io.vn/api/auth
NEXTAUTH_URL=https://s2dchat.io.vn

# Postgres related, which are the necessary environment variables for DB
LOBE_DB_NAME=lobechat
POSTGRES_PASSWORD=uWNZugjBqixf8dxC

# Auth configuration
AUTH_CASDOOR_ISSUER=https://auth.s2dchat.io.vn
AUTH_CASDOOR_ID=
AUTH_CASDOOR_SECRET=

# MinIO S3 configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=8ac440ed

# Configure the bucket information of MinIO
S3_PUBLIC_DOMAIN=https://minio.s2dchat.io.vn
S3_ENDPOINT=https://minio.s2dchat.io.vn
MINIO_LOBE_BUCKET=lobe

# Feature flags - will be configured via setup.sh
FEATURE_FLAGS=-welcome_suggest,+webrtc_sync,+dalle,+search_engine,+rag_eval,+pin_list

# Configure for casdoor
origin=https://auth.s2dchat.io.vn

# Files configuration - will be configured via setup.sh
# DEFAULT_FILES_CONFIG=
AZURE_API_KEY=123
AZURE_ENDPOINT=123
AWS_ACCESS_KEY_ID=123
AWS_SECRET_ACCESS_KEY=123
AZURE_API_KEY= your_key
AZURE_ENDPOINT= your_endpoint
AWS_ACCESS_KEY_ID= your_access_key
AWS_SECRET_ACCESS_KEY= your_scress_key
DEFAULT_EMBEDDING_PROVIDER=azure
DEFAULT_FILES_CONFIG="embedding_model=azure/text-embedding-ada-002,query_mode=full_text"
MINIO_API_CORS_ALLOW_ORIGIN=https://s2dchat.io.vn